:root {
  --active_color: black;
  --additional_color: gray;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 20px;
}

.breadcrumbs * {
  color: var(--additional_color);
  transition: 0.5s;
}

.breadcrumbs *:not(.slash):hover {
  color: var(--active_color);
}

.breadcrumbs li {
  position: relative;
  cursor: pointer;
}

.breadcrumbs li:last-child {
  color: var(--active_color);
}



/*
.breadcrumbs {
    margin-bottom: 40px;
    font-size: 20px;

    &__item {


        &-link {
            text-decoration: none;
            color: #f6881b;
        }

        &-last {
            background-color: #f6881b;
            color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        &-icon {
            margin: 0 10px;
        }
    }
}

// color: '#f6881b'*/

